language: ruby
rvm:
- 2.4.1
sudo: false
before_script:
- bundle exec rake db:migrate
- bundle exec rails s -d
deploy:
  provider: heroku
  api_key:
    secure: DVSQexCvPmKIJUwqiUZ/0KYv/n/vp+92irY1bCisXfqkS0TTVtZV/M7lasz4mOOrzi7119drlm0HFocSurusdE0a56li+Ba9tWOP6qJluLRMeOJeOCXLGqodc/E9c1fg6R+b+GnGOsSIMTEetnWqOQ06heZKxZ2XEqjWI0y2DrXDwTLmyJ+DCYPfmTBsnRiNXGJYawlST3MVQ8GgTkEIisimTzfEzK0hkWbWSr1TQRwR9PKajdLD1sp3k27fh6CqAAcVT6gGaunFnAUjJUOlO5gEoDDf6Ir1wr78bFGOAcR8da5tXy3lnL7g0dAkprxA7gp70ItW32XDptzB9vZbE5+/RU3TutSqZ55eFXrPwSb+ZTbxsA8drKW+XYb4Cu+CQEnZ7PMFY6kqq/ILR4y2LEvkqRR8bbUPLP0g3tDK0jORJa9tRyL8bLFJJ1iGS9IyvAExsy79Ld0g2ktYNLcpTPhCkUP0z8ogh4iEHDi+mCHSahGSXu0FzFbyB1BttGJHU6pApYQTDFjilmYO6Ru/4J/6rnJez74taqJmlnUeRNsraln25BgOI++j9PYOk6+abHQ7o4SZRIBQ2MFikiYeG67XA/yUf0zGO1ZBHHAnN0uyD4v1tpNwm2kpNsf7hqSzz8d+627hm01ZE43x1A1ZvHPxJgAnGu8eBi13dnT0VJk=
  app: slashershare
  on:
    repo: armandfardeau/slashershare