language: ruby
rvm:
- 2.4.1
sudo: false
before_script:
- bundle exec rake db:migrate
- bundle exec rails s -d
deploy:
  provider: heroku
  api_key:
    secure: zi+lDR0oza0nWcF0CBeoU6x3mcdtHcG1yW/VeEq2pA3aMDFwO3CSw5ooRsyLNd1640tVpESAD9mp5TBEl8wab6OG0GCDWgtJwQI6HoKDZCoOB02bIC4lonTwvoyofs3qMMt+p9O9U/kEVdQXqAJ5cEe1KZSraOU4J6NAEVGMNj+P7WEClhHT/Km+rd/8D/1uV1ZUTgP7/yarePRUbjcmK4v4E0z822gyJlPU106Ge8KA3R4i2kWQaaw29eP+pQrnUgkBybSr9m/sDIu6joVXPamVRd5lJnREMh9vDNv156rgw8ejhOVusNAoOyTOrR7l1+OgpNNT1O2TvKqCsvJscVRY9ahUBW4ak66ZFCPF12pC4ciyNvlZDUm5Aow/jot0zfx1BBy69Y9J0RvTgD0AwzOdOaVrq2oIwk5FFwCrnp4TwEVCz+67sH+M4ZZjvTyr4nlEzscJ+xr78drQ8tcDPf5AwLrHTp/YEKEaSskqu4VQomF3P+23t4wzZYP2Lje3nI/rJJGa8Vg3xBMV1ttta79vtLWd9rw2wEa9Kfj9ZUlXCAxxQGPpqz4eRoMNj4WZCfushXdDNzOkMQVM4uBCBibGKCf7mKPJv2tEStQ1geR6qbdUpEUFOUcrcwrjDHM3tii2U/8NJN2ftRpIWo0WBFYnYesaWBs4icjMP01MpWA=
  run:
  - rake db:migrate
  - rake db:seed
  - restart
  - rake cleanup
