<div class=<%= "profile__#{user_profile_type}" %>>
  <h1><%= @user.username %></h1>
  <%= render partial: 'users/partials/enterprise_infos', locals: {type: user_profile_type} %>
  <%= nice_offers_list %>
</div>
