<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to <%= Rails.application.class.parent %>, <%= @user.username %></h1>
<p>
  You have successfully published a new offer,
  your offer path is: <%= link_to @offer.title, offer_url(@offer) %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= link_to 'sign in', offer_url(@offer) %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>